{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container-fluid bg-light">
		<div class="row">
			<div class="col">
				<h2>Shopping cart</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table table-hover align-items-center">
					<thead>
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col" class="text-center"></th>
							<th scope="col" class="text-center">Product name</th>
							<th scope="col" class="text-center">Price</th>
							<th scope="col" class="text-center">Quantity</th>
							<th scope="col" class="text-center">Price avec TVA</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for orderline in order %}
							<tr>
								<th scope="row">1</th>
								<td class="text-center"><img style="max-height: 100px;" src="{{order.article.image}}"></td>
								<td class="text-center" style="color:green;">PS4</td>
								<td class="text-center" style="color:green;">98,00€</td>
								<td class="text-center"><input type"number" value="1" class="text-center w-25"/></td>
								<td class="text-center" style="color:green;">98,00€</td>
								<td class="text-center">
									<button type="button" class="btn btn-secondary btn-sm bi bi-trash"></button>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-1 offset-10 mb-4">Grand total:</div>
			<div class="col-1">849€</div>
			<button class=" offset-11 btn btn-success">Recalculer</button>
		</div>
	</div>
{% endblock %}
