{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container">
		<div class="row">
			<div class="col-6 shadow-lg p-3 mt-5 mb-1 bg-body rounded offset-3 text-center">
						
						
				<h2>Connexion ou <a href="creation">Se connecter</a></h2>

			    <form action="" method="post">

					
					<input class="form-control mb-1" name="email" type="email" placeholder="entrer votre email">

					<input class="form-control mb-1" name="mdp" type="password" placeholder="password">

						<div class="col-12 mt-1">
    						<button type="submit" class="btn btn-primary">Envoyer</button>
  						</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
