{% extends 'base.html.twig' %}

{% block title %}creation
{% endblock %}


{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Veuillez créer un compte</h1>

		<form action="boutique" method="POST">

			<label for="nom">Nom Utilisateur :
			</label><input class="" name="nom" type="text"><br>

			<label for="prenom">Prenom Utilisateur :
			</label><input class="" name="prenom" type="text"><br>

			<label for="pseudo">Votre Pseudo :
			</label><input class="" name="pseudo" type="text"><br>

			<label for="email">Votre Email :
			</label><input class="" name="email" type="email"><br>

			<label for="mdp">Votre Mot De Passe :
			</label><input class="" name="mdp" type="password"><br>

			<label for="adresse">Votre Adresse :
			</label><input class="" name="adresse" type="text"><br>

			<label for="codePostal">Code Postal :
			</label><input class="" name="codePostal" type="number"><br>

			<button type="submit" class="" name="btnValid">Envoyer</button>


		</form>

	</div>

{% endblock %}
